<!DOCTYPE html>
<html lang="en">
<head>
    <%- include(`${path}/head`) %>
</head>
<body>
    <%- include(`${path}/navbar`) %>


 <div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <form action="/create" method="POST">
            <table class="table table-borderless">
                <tr>
                    <td>선수명</td><td><input type="text" name="player"></td>
                </tr>
                <tr>
                    <td>백넘버</td><td><input type="text" name="backNo"></td>
                </tr>
                <tr>
                    <td>포지션</td><td><input type="text" name="position"></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit" class="btn btn-primary">추가</button></td>
                </tr>
            </table>
        </form>
    </div>
    <div class="col-4"></div>
</div>
</body>
</html>