<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/main.css" />
    <title>Document</title>
</head>
<body>
   <body style="text-align: center;">
      <!-- Wrapper -->
         <div id="wrapper">
            <!-- Menu -->
               <nav id="Update">
                  <table>
                     <caption><h2>회원관리페이지</h2></caption>
                     <tr>
                        <td>Email</td>
                        <td>HP</td>
                        <td>Addr</td>
                        <td>삭제여부</td>
                     </tr>
                     <!-- row_name 안에 있는 데이터 출력 -->
                     <% for (let row of row_name) { %>
                     <tr>
                        <td><%= row.email %></td>
                        <td><%= row.tel %></td>
                        <td><%= row.address %></td>
                        <td><a href="http://127.0.0.1:3000/MessageDelete?email=<%= row.email %>">삭제</a></td>
                        <!-- MessageDelete라우터 생성, 클릭한 이메일의 정보 삭제,
                            삭제 후 selectMember.ejs로 이동 -->
                     </tr>
                     <% } %>
                     
                  </table>
               </nav>
         </div>
      <!-- Scripts -->
         <script src="assets/js/jquery.min.js"></script>
         <script src="assets/js/jquery.scrolly.min.js"></script>
         <script src="assets/js/jquery.scrollex.min.js"></script>
         <script src="assets/js/skel.min.js"></script>
         <script src="assets/js/util.js"></script>
         <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
         <script src="assets/js/main.js"></script>
   </body>
</body>
</html>